body{
    --width-latmenu:calc(100vw / 12 * 2);
    --background-navBar:#FFF;
    background-color: #FFF;
    font-family:'Arial';
    padding: 20px; /* Añadir espacio interno para mostrar el efecto */
    box-sizing: border-box; /* Incluir el padding en el tamaño total */
            
}

.avatar{
    width: 30px;
}

.containerPrincipal{
    height: 100vh;
    overflow-y: auto;
    padding: 0px;
    padding-top: 0px;
}

.capaBase{
    margin:0px;
    padding:0px;
    padding-top:100px;
    margin-top: 0px;
}


.navbar_sup{
    background-color: var(--background-navBar);
    border: 1px solid #e9e9e9;
    border-width: 0px 0px 1px 0px;
}

/* Estilos para el sidebar */
.menu_lat {
  position: fixed;
  top: 0;
  left: -2000;
  background-color: var(--background-navBar);
  height: 100vh;
  padding-top: 100px;
  width: var(--width-latmenu);
  border: 1px solid #eaeaea;
  z-index: 101;
  transition: left 0.3s ease; /* Transición suave al mostrar/ocultar el sidebar */
}

/* Estilos para la capa oscura (oculta en PC y tablet) */
#sidebarOverlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro semitransparente */
  z-index: 100;
}

.a-green{
  color:#5ae4a8;
  text-shadow: .3px .3px #c8c8c8;
  cursor:pointer;
  text-decoration: underline;
}
.a-green:hover{
  color:#c8c8c8;
}


.placa{
    border: 0px solid #386c52;
    font-size: 1.2em;
    padding: 15px 10px;
    border-radius: 10px;
    font-family: Logo;
    color:#FFF;
    background-color: #ffffff0b;
}
.placa:hover{
    box-shadow: 3px 3px 6px rgb(0,0,0,.024), 
    -3px -3px 6px rgba(0, 0, 0, 0.024);
}

.btn{
  box-shadow: 3px 3px 6px rgb(0,0,0,.04), 
  -3px -3px 6px rgb(0,0,0,.04);
    background: #FFF;
    font-family: 'Logo';
}
.sombra{
  box-shadow: 3px 3px 6px rgb(0,0,0,.04), 
  -3px -3px 6px rgb(0,0,0,.04);
}

.btnCode{
  background:none;
  border: 1px solid #26D367;
  color:#26D367;
  font-size:.8em;
  padding: 2px 10px;
  margin-bottom: -10px;
  float:right;
}
.btnCodeOp{
  background:#43485d;
  border: 1px solid #43485d;
  color:#FFF;
  font-size:.8em;
  padding: 2px 10px;
  margin-bottom: -10px;
  border-radius: 100px;
}

.btn3{
  border: 0px solid #e9e9e9;
  background: #00000031;
  padding: 2px 10px 6px 10px;
  float:right;margin-right:2px;
  box-shadow: 3px 3px 6px rgb(0,0,0,.0004), 
  -3px -3px 6px rgb(0,0,0,.0004);
}
.btn:hover{
  background: #5ae4a840;
}

.btn3 img{
  filter: invert(1);
}

.btn-green{
    background-color: #5ae4a8;
    color:#000;
    border: 2px solid #000;
    font-family: 'Logo';

}
.modal-footer .btn{
  background: none;
  box-shadow: 3px 3px 6px rgb(0,0,0,.0), 
  -3px -3px 6px rgb(0,0,0,.0);
  color:#5ae4a8;
  
}
.modal-footer .btn:hover{
  color: #000;
}

li{
  margin-bottom: 20px;
  font-weight: 100;
  cursor: pointer;
  padding-left: 20px;
}
li img {
    filter:grayscale(10);
    width: 17px;
}
h2{
  font-family: Sans;
}

input,textarea,select{
    margin:0px 0px 10px 0px;
    width: 100%;
    padding:5px 20px;
    border:1px solid rgba(181, 145, 145, 0);
    background-color: rgba(35, 35, 35, 0.113);
    border-radius:5px
  }
  input::placeholder,textarea::placeholder{
    color:rgb(179, 177, 177);
    font-style: oblique;
  }
  .modal-content{
    color:#ffffff;
    background: linear-gradient(180deg,#5d5d5d 0%, #3f3f3f 100%);
    border: 0px;
    font-family: Logo;
  }
  .modal-content input,textarea,select{
    color:#FFF
  }
  .modal-content option, optgroup option{
    background: #353535;
    color:#FFF
  }
  .modal-content optgroup {
    background-color: #5ae4a8; /* Cambia este valor por el color que desees */
    font-weight: bold;
    padding: 5px 10px;
    color:#000
  }

  .modal-footer{
    border: 0px;
    color:#5ae4a8
  }
  .modal-title{
    color: #5ae4a8;
  }

.lds-ring {
    display: inline-block;
    position: relative;
    width: 15vh;
    height: 15vh;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 15vh;
    height: 15vh;
    margin: 1px;
    border: 10px solid #5ae4a8;
    border-radius: 50%;
    animation: lds-ring 1.6s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #5ae4a8 transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @font-face {
    font-family: 'Sans';
    src: url('./assets/fonts/Product\ Sans\ Regular.ttf') format('opentype');
    /* También puedes proporcionar otras fuentes como fallback si es necesario */
  }
  @font-face {
    font-family: 'Logo';
    src: url('./assets/fonts/GD\ Sherpa\ Regular.ttf') format('opentype');
    /* También puedes proporcionar otras fuentes como fallback si es necesario */
  }
  @font-face {
    font-family: 'Square';
    src: url('./assets/fonts/Square\ One\ Bold.ttf') format('opentype');
    /* También puedes proporcionar otras fuentes como fallback si es necesario */
  }
  @media only screen and (max-width: 768px) {
        .menu_lat {
        width: 80%; /* Ejemplo: ancho del sidebar ajustado para dispositivos móviles */

    }

    /* Otros estilos específicos para dispositivos móviles */
}

.navbar-panel-overlay {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  -webkit-transition-delay: 0s, 0s;
  transition-delay: 0s, 0s;
  -webkit-transition-duration: 0.38s, 0.38s;
  transition-duration: 0.38s, 0.38s;
  -webkit-transition-property: opacity, visibility;
  transition-property: opacity, visibility;
  -webkit-transition-timing-function: ease-in-out, ease-in-out;
  transition-timing-function: ease-in-out, ease-in-out; 
}
.navbar-panel-overlay.visible {
  opacity: 1;
  visibility: visible; 
}
.navbar-panel {
  position: fixed;
  z-index: 101;
  width: 256px;
  height: 100%;
  background-color: whitesmoke;
  box-sizing: border-box;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.23), 0 3px 12px rgba(0, 0, 0, 0.16);
  border: none;
  -webkit-transform: translateX(-300px);
  -ms-transform: translateX(-300px);
  transform: translateX(-300px); 
}
.navbar-panel.animated {
  -webkit-transition: 0.38s ease-in-out -webkit-transform;
  transition: 0.38s ease-in-out transform; 
}
.navbar-panel.visible {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0); 
}


::-webkit-scrollbar {
width: 10px;
height: 10px;
}

::-webkit-scrollbar-thumb {
background: #5ae4a8;
border-radius: 5px;
}

::-webkit-scrollbar-track {
background-color: #f2f2f2 ;
border: 1px solid #f2f2f2;
}

.btn_s_m,.btn_s_t{
  background-color: #353535;color:#FFF;
  margin: 0px;
  padding: 2px 10px;
  font-size: .9em;
}